.b-mainSlider {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: relative;

  &__container {
    padding: 0;
  }

  &__slide1 {
    background: url(../images/pic1.jpg) center, indigo;
    background-size: cover;
    background-blend-mode: hard-light;
  }
  &__slide2 {
    background: url(../images/pic2.jpg) center, darkorchid;
    background-size: cover;
    background-blend-mode: hard-light;
  }
  &__slide3 {
    background: url(../images/pic3.jpg) center;
    background-size: cover;
  }
  &__slide4 {
    background: url(../images/pic4.jpg) center, mediumseagreen;
    background-size: cover;
    background-blend-mode: hard-light;
    filter: saturate(70%);
  }
}