.b-mainMenu {
  background: rgba(0,0,0,0.7);
  &__item {
    padding: 0 14px;
    position: relative;

    &_active {

      .b-mainMenu__hrLine {
        display: block;
      }

      &:hover {

        .b-mainMenu__link {
          color: #fff;
        }
      }
    }

    @include media-breakpoint-down(md) {
      text-align: center;
      width: 30%;
      margin: 0 auto;
    }
  }

  @include media-breakpoint-down(md) {
    background: rgba(0,0,0,0.7);
  }

  &__link {
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;

    &:hover {
      color: #e9ff00;
    }
  }

  &_paddingForHeader {
    padding: 20px 50px 8px;
  }

  &__hrLine {
    display: none;
    width: 100%;
    color: #fff;
    position: absolute;
    top: calc(50%);
    left: 0;
    z-index: 999;
    border: 1px solid;
  }
}